*{
  margin: 0;
  padding: 0;
}
.heading-container {
  margin-top: 12%;
  font-family: "Red Hat Display";
  font-style: normal;
  width: 508px;
  height: 148px;
}
.heading1 {
  font-weight: 900;
  font-size: 76px;
  line-height: 124.8%;
  color: #ff735c;
}
.heading2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 59.9px;
  color: #1a2e35;
}
.hr {
  margin-top: 20px;
  height: 1px;
  background-color: #ff735c;
  width: 500px;
}
.main-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.img-container {
  margin-top: 12%;
  margin-left: 50px;
}
.text {
  margin-top: 25px;
  height: 32px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #182e38;
  margin-bottom: 20px;
}
.main-city-container {
  margin: 0 25%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 100vh;
}
.heading {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 381px;
  height: 101px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  font-size: 76px;
  line-height: 101px;
  color: #ff735c;
}
.form-container {
  display: flex;
  flex-direction: column;
  height: 534px;
  width: 955px;
  border: 0.5px solid rgba(56, 90, 100, 0.5);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
.prediction-text-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 25px;
  width: 955px;
  height: 96px;
  border: 0.5px solid rgba(56, 90, 100, 0.5);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
.prediction-text {
  margin-left: 54px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: #000000;
}
.form-left-container {
  padding: 30px;
  width: 50%;
}
.form-right-container {
  padding: 30px;
  width: 50%;
}
.form-label {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 40px;
}
.form-check-label {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}
.form-check-input {
  margin-top: 0.5em !important;
}
.prediction-btn {
  width: 578px;
  height: 56px;
  background: #ff735c;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  outline: none;
  border: none;
  color: white;
}
.form-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
